
@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


p{
  font-weight:500;
}

.btn{
  width:120px;
  height:40px;
  color:white;
  border:none;
  border-radius:20px;
  background-color:#0a5c0a ;
  color:white;
  font-weight:600;
}

.btn:hover{
  opacity: 0.7;
  cursor: pointer;
}


/* 기본 셋팅------------------------- */

.Main{
  height:2000px;
  margin:auto;
  box-sizing: border-box;
  font-family: "SOYOMapleBoldTTF";
}

.navbar{
  width:100%;
  max-width:1200px;
  height:50px;
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.navbar-items{
  width:10%;
  height:40%;
 
  text-align:center;
}

.logo{
  width:25%;
}

.navbar-items-blank{
  width:30%;
}


/* 네비게이션 바 ---------------------- */

.intro{
  width:100%;
  height:27%;
  display:flex;
  justify-content: center;
  align-items: center;
  background:#FDF5E6;
  color:#0a5c0a;
  /* color:white; */
  /* 배경 출처 :출처 <a href="<a href="https://kr.freepik.com/free-photo/smooth-plain-white-marble-texture_18665597.htm#query=%EC%B1%85%EC%83%81&position=36&from_view=keyword&track=sph&uuid=7b130b0b-1497-4b96-9361-c54f4a60d9df">작가 rawpixel.com</a> 출처 Freepik */
  background-image:url("./img/배경사진3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 1px grey;

}

.intro-box{
  text-align: center;
  margin-top:40px;
  padding:20px;
}

.intro-box button{
  margin-top:50px;
}

.start{
  opacity: 0;
}

.end{
  opacity: 1;
  transition : opacity 1s;
}


/* 인트로 바 --------------------------------- */

.about{
  text-align:center;
  width:100%;
  height:600px;
  padding:20px;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./img/배경사진2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top center;
  color:white;

}


.about-container{
  width:50%;
  max-width:1000px;
  height:70%;
  margin:auto;
  border: 2px solid #0a5c0a;
  border-radius:10px;
  background:white
}

.about-foward-upstairs{
  width:100%;
  height:80%;
  display:flex;
  padding-top:10px;
  color:black;
  justify-content: center;
  align-items: center;
}

.privateInformation{
  text-align: left;
  margin-top:15px;
}


.about-foward{
  width:90%;
  height:80%;
  margin:auto;
}

.about img{
  width:180px;
  height:180px;
  border-radius:50%;
  margin-top:10px;
}


.about-front{
  
}

/* about ------------------- */


.skills{
  width:100%;
  height:300px;
  background-color: grey;
}


@media screen and (max-width: 786px) {
  .about-foward-upstairs{
    display:block;

  }
  .about-foward-upstairs p{
    font-size:12px;
    margin:15px;
  } 

  .privateInformation :first-child{
    margin-top:25px;
  }

  .about-foward-upstairs img{
    border-radius: 10px;
    width:150px;
    height:150px;
  }

  .about-foward-upstairs div{
    margin-left:25px;
    text-align: left;
  }

}