
@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


p{
  font-weight:500;
}

.btn{
  width:120px;
  height:40px;
  color:white;
  border:none;
  border-radius:20px;
  background-color:#0a5c0a ;
  color:white;
  font-weight:600;
}

.btn:hover{
  opacity: 0.7;
  cursor: pointer;
}


/* 기본 셋팅------------------------- */

.Main{
  height:3000px;
  margin:auto;
  box-sizing: border-box;
  font-family: "SOYOMapleBoldTTF";
}

.navbar{
  width:100%;
  max-width:1200px;
  height:50px;
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.navbar-items{
  width:10%;
  height:40%;
 
  text-align:center;
}

.logo{
  width:25%;
}

.navbar-items-blank{
  width:30%;
}


/* 네비게이션 바 ---------------------- */

.intro{
  width:100%;
  height:20%;
  display:flex;
  justify-content: center;
  align-items: center;
  background:#FDF5E6;
  color:#0a5c0a;
  /* color:white; */
  /* 배경 출처 :출처 <a href="<a href="https://kr.freepik.com/free-photo/smooth-plain-white-marble-texture_18665597.htm#query=%EC%B1%85%EC%83%81&position=36&from_view=keyword&track=sph&uuid=7b130b0b-1497-4b96-9361-c54f4a60d9df">작가 rawpixel.com</a> 출처 Freepik */
  background-image:url("./img/배경사진3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 1px grey;

}

.intro-box{
  text-align: center;
  margin-top:40px;
  padding:20px;
}

.intro-box button{
  margin-top:50px;
}

.start{
  opacity: 0;
}

.end{
  opacity: 1;
  transition : opacity 2s;
}


/* 인트로 바 --------------------------------- */

.about{
  text-align:center;
  width:100%;
  height:600px;
  padding:20px;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./img/배경사진2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top center;
  color:white;

}


.about-container{
  width:50%;
  max-width:1000px;
  height:70%;
  margin:auto;
  border-radius:10px;
  background:white;
  position:relative;
  transform-style:preserve-3d;
}

.about-foward-upstairs{
  width:100%;
  height:70%;
  display:flex;
  color:black;
  justify-content: center;
  align-items: center;
}

.privateInformation{
  text-align: left;
  margin-top:15px;
  flex: 0.5;
  min-width:auto;
}

.privateImg{
  width: "45%";
  flex: 0.5;
}

.about-foward{
  width:100%;
  height:100%;
  margin:auto;
  position: absolute;
  z-index: 5;
  backface-visibility: hidden;
}

.about img{
  width:180px;
  height:180px;
  border-radius:50%;
  margin-top:10px;
}

.about-backward{
  width:100%;
  height:100%;
  margin:auto;
  position: absolute;
  transform:rotateY(180deg);
  backface-visibility: hidden;
  color:black;
  justify-content: center;
  align-items: center;
  background:#ffc107;
  border-radius:10px;
  opacity: 0.9;
}

.about-backward-items{
  width:70%;
  background:white;
  height:20%;
 
  border-radius: 10px;
  margin-left:auto;
  margin-right: auto;
  margin-top:10px;
 
}

.about-icons{
  margin-top:20px;
  font-size:30px;
  margin-left:auto;
}

.items-box{
  width:50%;
  height:100%;
  display:inline-block;
  text-align:left;
  padding-left:50px;
}


.about-btn{
  position:absolute;
  right:50%;
  left:50%;
  bottom:1px;
  transform:translate(-50%,-50%);
   
}

/* about ------------------- */


.skills{
  width:100%;
  height:1000px;
  background-color:papayawhip;
  padding:20px;
}

.skills-container{
  width:100%;
  height:35%;
  margin:auto;

}

.skills h1{
  text-align: center;
}


.skills-frontend{
  width:50%;
  max-width:1000px;
  height:90%;
  background:white;
  margin:auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
  padding:20px;
  display:flex;
}

.fronted-boxes{
  width:30%;
  height:90%;
  margin-left:20px;
  margin-right:20px;
  text-align: center;
}

.fronted-boxes p{
  height:60%;
}

.skills-backend-container{
  width:53%;
  height:70%;
}
.skills-backend-bone{
  width:49%;
  background-color: white;
  margin-top:50px;
  text-align: center;;
}

.skills-backend{
  height:72%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;

}

.skills-version{
  height:72%;
  margin-left:30px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
}

.skills-version p{
  height: 30%;
}

.skills-database{
  margin-top:30px;
  height:60%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
}

.skills-database p{
  height: 40%;
}

.skills-android{
  margin-top:30px;
  margin-left:30px;
  height:60%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
}

.skills-android p{
  height: 30%;
}

.skills-img1{
  width:40%;
  height:200px;
}

.skills-img2{
  width:70%;
  height:240px;
}

.skills-img3{
  width:60%;
  height:130px;
}

.skills-img4{
  margin-top:5px;
  width:25%;
  height:80px;
}
.skills-img5{

  width:30%;
  height:50px;
}

.skills-img6{
  width:50%;
  height:120px;
}
.skills-img7{
  width:30%;
  height:35px;
}
/* skill --------------------- */


@media screen and (max-width: 786px) {
  .about-foward-upstairs{
    display:block;
    height:30%;
   
  }
  .about-foward-upstairs p{
    font-size:10px;
    margin:8px;
  } 
 
  .privateImg{
    width: "70%";
    height: "30%";
    display: inline-block;
    margin:0px;
  }
 
  .privateInformation
  {
    margin-left:25%;
    margin-right:25%;
  
  }
  .about-foward-upstairs img{
    border-radius: 10px;
    width:120px;
    height:120px;
    margin-left:50%;
    margin-right:50%;

  }


  .items-box{
    width:90%;
    padding-left:15px;
    font-size:11px;
  }
  .skills-frontend
  {
    height:57%;
  }
  
  .skills-frontend :nth-child(2){
    margin-left:0px;
    margin-right:0px;
  }
  .skills-frontend img{
    height:100%;
  }

  .skills-version
  {
    height:90%;
  }

  .skills-backend-container{
    height:40%;
  }

  .skills-backend
  {
    height:90%;
  }

  .skills-frontend h3{
    font-size:14px;
  }

  .skills-version h3{
    font-size:14px;
  }
  .skills-backend h3{
    font-size:14px;
  }

  .skills-backend p
  {
    margin-top:5px;
  }
  .skills-version p
  {
    margin-top:5px;
  }
  .skills-version img{
    height:100%;
  }

  .skills-backend img{
    height:100%;
  }

  .skills-database{
    height:40%;
    margin-top:60px;
  }  
  .skills-database img {
    height:100%;

  } 
  .skills-database h3{
    font-size:14px;
  }

  .skills-android{
    height:40%;
    margin-top:60px;
  }  
  
  .skills-android h3{
    font-size:14px;
  }

  .skills-android img {
    height:28%;
  }
  

}