
@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SejonghospitalBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

h1,h2,h3,h4{
  font-family: 'SejonghospitalBold';
}
div{
  box-sizing: border-box;
}
p{
  font-weight:500;
}

.todown{
  margin-top:100px;
  background:#A03CB3;
  width:40px;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  border-radius:50%;
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
}
.todown:hover{
  cursor:pointer;
}


/* 기본 셋팅------------------------- */

.Main{

  height:3000px;
  width:100%;
  font-family: "SOYOMapleBoldTTF";
}

.navbar{
  width:100%;
  height:50px;
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 5;
  box-shadow: 1px 1px 1px grey;
  color:black
}

.navbar-items{
  width:10%;
  height:40%;
  text-align:center;
}


.navbar-items span{
  color:black;
  transition:all 0.5s;;
  
}

.navbar-items span:hover{
  cursor:pointer;
  color:purple;
}
.logo{
  width:25%;
}

.navbar-items-blank{
  width:30%;
}


/* 네비게이션 바 ---------------------- */

.intro{
  width:100%;
  height:22%;
  display:flex;
  justify-content: center;
  align-items: center;
 
  background:linear-gradient(360deg,white,#def7de);

  /* color:white; */
  /* 배경 출처 :출처 <a href="<a href="https://kr.freepik.com/free-photo/smooth-plain-white-marble-texture_18665597.htm#query=%EC%B1%85%EC%83%81&position=36&from_view=keyword&track=sph&uuid=7b130b0b-1497-4b96-9361-c54f4a60d9df">작가 rawpixel.com</a> 출처 Freepik */
}

.title{
  color:#009966;
  font-size:50px;
  margin-bottom:60px;
}

.intro-container{
  color:#009966;
}

.intro-box{
  text-align: center;
  margin-top:40px;
  padding:20px;
}

.intro-box button{
  margin-top:50px;
}

.start{
  opacity: 0;
}

.end{
  opacity: 1;
  transition : opacity 2s;
}


/* 인트로 바 --------------------------------- */

.about{
  text-align:center;
  width:100%;
  height:630px;
  box-shadow: 1px 1px 1px grey;
}
.about h1{
  font-size:50px;
}
.about-background{
  width:100%;
  max-width:1300px;
  height:100%;
  padding:20px;
  display:flex;
  justify-content: center;
  margin:auto;
}
.about-container1{
 width:65%;
 height:80%;
 display:flex;

 align-items: center;
}

.about-img{
  width:40%;
  height:auto;
}

.about-information{
  text-align:left;
  font-size:20px;
  
}

.about-informbox{
  width:270px;
  height:65px;
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px grey;
  border-radius: 5px;
  margin-left:auto;;
  margin-right:auto;
  margin-bottom:30px;
  font-size:12px;
  text-align:left;
  padding:15px;
 
  background-image:linear-gradient(90deg,white, #CFFFE5);
  transition: all 2s;
  opacity: 0.9;
}
.about-informbox:hover{
  background-image:linear-gradient(90deg,white,#ffe1cf);
  
}

.about-container2{
 width:35%;
 height:80%;
 margin-left:30px;
 
 border-left:2px solid black;
 
}

.about-container1-flex{
  display:flex;

}
.mypic{
  width:60%;
  height:60%;
  border-radius: 50%;
}


/* about ------------------- */


.skills{
  width:100%;
  height:25%;
  padding:20px;

  background:#1670f6;
}

.skills-container{
  width:90%;
  height:50%;
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  display:flex;
}

.skills h1{
  text-align: center;
  color:white;
  font-size:50px;
}
.skills-title{
  width:85%;
  margin-left:auto;
  margin-right:auto;
  margin-top:120px;
}
.skills-title h3{
  max-width:1150px;
  margin:auto;
}
.skills-fronted{
  margin-top:40px;
  width:100%;
  height:70%;
  display: flex;
  align-items: center;
}


.skills-boxes{
    width:30%;
    height:280px;
    margin:20px;
    margin-bottom:20px;
    font-size:13px;
    padding-top:5px;
    padding-left:15px;
    background-color: #467fd7;
    color:white;
    border-radius:10px;
}

.skills-boxes h3,.skills-boxes h4{
  font-size:18px;
}

.skills-boxes p{
  font-weight:200;
}


/* skill --------------------- */


.projects{
  width:100%;
  height:2250px;
  background:#f9c51d;
  padding:30px;
}

.projects h1{
  font-size:50px;
}

.projects-container{
  width:50%;
  height:100%;
  margin:auto;  
  
}

.projects-contents{
  width:100%;
  max-width:1200px;
  height:auto;
  margin:auto;  
  padding:20px;
  background-color: white;
  box-shadow: 3px 3px 3px grey;
  border-radius: 10px;
}

.projects-contents p{
  font-size:10px;
  color:grey;
}
.projects-contents img{
  width:100%;
  height:20%;
}


/* projects--------- */
.archiving{
  width:100%;
  height:400px;
  background-color: whitesmoke;
}

.archiving-container{
  width:400px;
  height:205px;
  border-radius: 10px;
  margin:auto;
  border:1px solid black;
 
  box-shadow: 3px 3px 3px grey;
}

.archiving-flex{
  display:flex;
  margin:auto;
}

.github{
  text-align: center;
  margin:auto;
}

.github-logo{
  width:200px;
  height:200px;
  border-right:1px solid black;
  border-radius: 10px;
  background-color: white;
  
}
.github-logo img{
    margin-left:10px;
    margin-top:40px;
    width:100px;
    height:100px;
    border-radius: 10px;
}
.github-letter{
  width:100%;
  height:200px;
  font-size:12px;
  text-align:left;
  padding:10px;
  border-radius: 10px;
  background-color: white;

}



@media screen and (max-width: 786px) {

  .navbar-items{
    width:20%;
  }
  .logo{
    width:40%;
  }
  
  .navbar-items-blank{
    width:0%;
  }
  .about-foward-upstairs{
    display:block;
    height:30%;
   
  }
  .about-foward-upstairs p{
    font-size:10px;
    margin:8px;
  } 
 
  .privateImg{
    width: "70%";
    height: "30%";
    display: inline-block;
    margin:0px;
  }

  .about-container1{
    display:block;
  }
  .about-container1 img{
    width:170px;
  }
  .about-container1 p{
    font-size: 14px;
  }

  .about-container2{
    margin-left:0px;
  }
  .privateInformation
  {
    margin-left:25%;
    margin-right:25%;
  
  }
  .about-foward-upstairs img{
    border-radius: 10px;
    width:120px;
    height:120px;
    margin-left:50%;
    margin-right:50%;
  }


  .items-box{
    width:90%;
    padding-left:15px;
    font-size:11px;
  }

  .skills-fronted{
    display:block;
    margin-top:0px;
    
  }

  .skills-boxes{
    width:80%;
    height:40%;
    height:auto;
  }
  .skills-title{
    margin-top:0px;
  }
  .skills-container{
    margin-top:0px;
  }
  
  .skills h3,.skills h4{
    margin:0px;
  }
  .skills h1{
    margin-bottom:0px;
  }
}